body {
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
    max-width:1000px;
    font-size:14px;
    color:#333;
    margin:auto;
    line-height:1.5;
}
a {
    color:red;
}
table {
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    line-height:inherit;
    max-width:1024px;
    margin:auto;
}
td {
	padding: 5px;
}